.footer-app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;

}

.footer-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}