.container {
    max-width: 940px;

    margin: 0 auto;

 

    box-sizing: border-box;


}


@media (max-width: 1140px) {
    .container {
        width: calc(100% - 2 * 230px);

    }
}


@media (max-width: 940px) {
    .container {
        width: calc(100% - 2 * 110px);

    }
}

@media (max-width: 320px) {
    .container {
        width: calc(100% - 2 * 16px);

    }
}